<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<!-- Posts -->
<div class="posts-feed">
    <!-- Empty state -->
    <div th:if="${#lists.isEmpty(posts)}" class="empty-state">
        <i class="bi bi-chat-square-text"></i>
        <p class="fw-600">No posts yet. Be the first to share something!</p>
<!--        <span th:if="${post.updatedAt}">(edited)</span>-->

    </div>

    <!-- Post cards -->
    <div class="post-cards container py-4 text-center">

        <div th:each="post : ${posts}" class="card mb-3 shadow-sm">
            <div class="card-body">
                <p class="card-text" th:text="${post.content}"></p>
                <small class="text-muted" th:text="
                'Posted on '
                + ${#temporals.format(post.createdAt, 'dd/MM/yyyy')}
                + ' at '
                + ${#temporals.format(post.createdAt, 'HH:mm')}"></small>
                <small class="text-muted" th:text="'Posted by ' + ${post.user?.username}"></small>
                <br>
                <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="get">
                    <button type="submit">Edit</button>
                </form>
                <form th:action="@{/posts/{id}/delete(id=${post.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        </div>

        <br>
        <a th:href="@{/posts}" class="btn btn-primary">Make a Post</a>
    </div>

    <div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>