<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acebook</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="posts">
    <div th:each="post : ${posts}" class="post-main">
        <p th:text="${post.content}"></p>
    </div>

    <a href="/posts" type="button">Make a Post</a>
</div>
</body>
</html>